<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Software Development Engineer at
      <a class="underline-link" href="https://www.jpmorganchase.com/" target="_blank">J.P.Morgan & Chase</a> working on interesting and meaningful projects.Also, I am an undergrad who did his engineering
      in the field of Electronics and Communication from <a class="underline-link" href="http://www.thapar.edu/" target="_blank">Thapar Institute of Engineering and Technology</a>
    </p>

    <p>
      I was introduced to the field of programming <strong>back in my 5th Grade</strong> when I made some simple HTML Websites. In my 7th Grade
      my fascination to build things for the web started to grow when the gates to the world of social networking was opened for me.
      Since then I started to learn HTML/CSS and then moved to Python for building dynamic websites.

      I <strong>participated in Google Code-In</strong> 2014 for the first time and after that in 2015 & 2016 as well; which was an open-source programme organised annually by Google and since then I am an Open-Source enthusiast.
    </p>

    <p>
      <strong>Fast forward to today</strong>, from just knowing HTML/CSS and Python, I have tried explore many other things in the field of Computer Science and try to learn something new everyday.
      <br><strong>Also I have a blog</strong> which acts as a slate for my random ramblings. You can check it out <a href="https://dpmittal.wordpress.com" target="_blank" class="arrow-link">here</a>
    </p>
  </div>
</section>
