<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/dpmittal/Capstone_Portal_Showcase" target="_blank">
          <img src="{{site.baseurl}}/img/featured/capstone.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/dpmittal/Capstone_Portal_Showcase" target="_blank">Capstone Management Portal</a>
        </div>
        <p>An evaluation portal to help students and teachers conduct semester-long capstone project evaluations. Some of the features include team registration,
           mentor and marks assignment, panel creation, and evaluation.</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/dpmittal/TIET_Publications_Showcase" target="_blank">
          <img src="{{site.baseurl}}/img/featured/publications.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/dpmittal/TIET_Publications_Showcase" target="_blank">TIET Publications</a>
        </div>
        <p>A website showing a database of all the authors of TIET who have published some work in their professional fields like Books, Journals,
           and Conference Papers. The data can also be shown Department wise and year wise.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/dpmittal/SentiEnt" target="_blank">
          <img src="{{site.baseurl}}/img/featured/sentient.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/dpmittal/SentiEnt" target="_blank">SentiENT</a>
        </div>
        <p>A web application that allows a user to give insight into a product in the market by calculating sentimental
          scores about the product using the Naive Bayes algorithm.</p>
      </figcaption>
    </div>
  </div>
</section>
