<footer class="footer">
  <div class="footer__copyright">
    <!-- <div class="top">
      <span>Designed &amp; Developed with <i class="icon ion-heart"></i> by Divya Prakash Mittal</span>
    </div> -->
    <div class="top">
      <span>Theme By <a href="http://github.com/bchiang7" target="_blank"> Britany Chiang </a></span>
    </div>
  </div>
  <div class="footer__links" style="font-size: 1.5em">
    <a href="mailto:divyaprakashmittal@gmail.com" target="_blank">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="https://instagram.com/dpmittal" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://github.com/dpmittal" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/dpmittal" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://www.dpmittal.wordpress.com" target="_blank">
      <i class="fab fa-wordpress"></i>
    </a>
  </div>
</footer>
