<header class="intro">
  <h1 class="intro__hello" style="font-family: 'Kalam', cursive;">नमस्ते |
    <span class="emoji wave-hand animated"></span>
  </h1>
  <h2 class="intro__tagline">I'm
    <span class="name">Divya Prakash Mittal</span>, a software engineer who's into building web applications. I love algorithms and like to make things which live on Internet.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch</span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:divyaprakashmittal@gmail.com" target="_blank" class="highlight-link">divyaprakashmittal@gmail.com</a>
    </span>
  </h3>
</header>
